<%# main %>
<main id="main">
  <div class="container">
    <article class="real-tag">
      <h1>人気タグ</h1>
      <h2>カテゴリー変更</h2>
      <section>
        #募集五件ぐらい表示
      </section>
      <h3>詳しくみてみる</h3>
    </article>
    <aside class="net-tag">
      <h1>人気タグ</h1>
      <h2>カテゴリー変更</h2>
      <h2>エリア変更</h2>
      <section>
        #募集五件ぐらい表示
      </section>
      <h3>詳しくみてみる</h3>
    </aside>
  </div>
</main>

<%# about %>
<div class="container-about">ぼ！ってなに？</div>

<%# ondemand %>
<ondemand id = "ondemand">
  <div class="container">
    <article class="new-real-ondemand">
      <h2>直近の募集</h2>
      <ul>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
      </ul>
    </article>
    <aside class="new-net-ondemand">
      <h2>直近の募集</h2>
      <ul>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
      </ul>
    </aside>
  </div>
</ondemand>

<%# community %>
<community id="community">
  <div class="container">
    <article class="new-real-community">
    <h2>出来立てのコミュニティ</h2>
      <ul>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
      </ul>
    </article>
    <aside class="new-net-community">
      <h2>出来立てのコミュニティ</h2>
      <ul>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
        <li></li>
        <p>#募集文章</p>
      </ul>
    </aside>
  </div>
</community>