<%# main %>
<main id="main">
  <article>
    <h1>人気タグ</h1>
    <h2>カテゴリー変更</h2>
    <section>
      #募集五件ぐらい表示
    </section>
    <h3>詳しくみてみる</h3>
  </article>
  <aside>
    <h1>人気タグ</h1>
    <h2>カテゴリー変更</h2>
    <h2>エリア変更</h2>
    <section>
      #募集五件ぐらい表示
    </section>
    <h3>詳しくみてみる</h3>
  </aside>
</main>

<%# about %>
<div class="about">ぼ！ってなに？</div>

<%# ondemand %>
<ondemand id = "ondemand">
  <article>
    <h2>直近の募集</h2>
    <ul>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
    </ul>
  </article>
  <aside>
    <h2>直近の募集</h2>
    <ul>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
    </ul>
  </aside>
</ondemand>

<%# community %>
<community id="community">
  <article>
  <h2>直近の募集</h2>
    <ul>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
    </ul>
  </article>
  <aside>
    <h2>直近の募集</h2>
    <ul>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
      <li></li>
      <p>#募集文章</p>
    </ul>
  </aside>
</community>