<main>
  <ondemand-title>
    <%= @ondemand.title %>
  </ondemand-title>

  <div class="ondemand-content">
    <%# img %>
    <%= @ondemand.body %>
    <%# prof-img %>
    <%# 問い合わせるbtn %>
  </div>
</main>