/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* base */

html{
  font-size: 100%; /* 16px */
  background-color: #fffffe;
}

body {
  color: #272343; 
  font-family: "M PLUS Rounded 1c";
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3rem; 
}

li{
  list-style:none;
  font-size: 1.2rem;
}

.wrapper {
  max-width: 1024px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  padding-top: 100px;
}

.single-container {
  padding: 100px 0 0 0;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

/* header */
#header {
  max-width: 1024px;
  padding: 0 4%;
  margin-bottom: 30px;
  position: fixed;
  text-align: center;
  z-index: 10;
  text-align: center;
  background-color: white;
}

#header .container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1140px;
  background-color: white;
}

#header img {
  width: 50%;
  height: 50%;
}

#header ul {
  display: flex;
}

#header ul li {
  margin-left: 30px;
}

#header ul li a {
  transition: all 0.3s;
}

#header ul li a:hover {
  opacity: 0.5;
}


/* main */
#main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 15% 0 15%;
  margin-bottom: 30px;
}

#main .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* about */
.container-about {  
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 15%;
  margin-bottom: 30px;
  justify-content: center;
}

/* ondemand */
#ondemand {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15%;
  margin-bottom: 30px;
}

#ondemand .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* community */
#community {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15%;
  margin-bottom: 30px;
}

#community .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* sp */
@media screen and (max-width: 520px) {
  /* header */
  #header {
    flex-direction: column;
    height: auto;
  }

  .site-title {
    justify-content: center;
    margin: 0 auto;
    display: flex;
  }

  #header h1 img {
    margin-left: 60px;
  }

  #header ul li a {
    font-size: 0.5rem;
  }
}

/* tab */
@media screen and (max-width: 960px) {

}


/* footer */
#footer {
  text-align: center;
}
