/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* base */

html{
  font-size: 100%; /* 16px */
  background-color: #fffffe;
}

body {
  color: #272343; 
  font-family: "M PLUS Rounded 1c";
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3rem; 
}

li{
  list-style:none;
  font-size: 1.2rem;
}

/* header */
#header {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  margin-bottom: 30px;
}

#header img {
  width: 50%;
  height: 50%;
}

#header ul {
  display: flex;
}

#header ul li {
  margin-left: 30px;
}

#header ul li a {
  transition: all 0.3s;
}

#header ul li a:hover {
  opacity: 0.5;
}

/* footer */
#footer {
  text-align: center;
}
